#pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokeCard {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}